/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 10px;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 50px;
  color: #fff;
}

header nav ul {
  display: flex;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 20px;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #ff385c;
  padding: 10px;
}

form .form-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: clamp(8px, 4vw, 18px);
}

form .form-item select,
form .form-item input {
  margin-bottom: 20px;
  width: 65%;
  align-self: flex-start;
}

form .form-item label {
  font-weight: bold;
  padding-right: 10px;
  text-align: left;
}

form .form-item button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  text-align: center;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media (min-width: 480px) {
  header {
    background-color: #ff385c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header nav {
    padding: 10px;
  }

  form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  form .form-item {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }

  form button {
    font-size: 30px;
    max-width: 100%;
  }

  .group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
  }

  .idea-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 10px;
  }

  .idea-row {
    display: flex;
    flex: 1;
    flex-direction: row;
  }
}
